<a href="https://colab.research.google.com/github/LangqingZou/Math-509/blob/master/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
columns = ['CNTRYID','GFOFAIL','WEALTH','RESILIENCE','BELONG','HISCED','ST004D01T','IC001Q04TA','GCSELFEFF','ESCS','EMOSUPS','ST216Q03HA']
data = pd.read_csv('drive/MyDrive/Math_509_Project/CY07_MSU_STU_QQQ.csv',usecols=columns) 
data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (17,229,323,871) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,CNTRYID,ST004D01T,ST216Q03HA,IC001Q04TA,HISCED,ESCS,WEALTH,EMOSUPS,GFOFAIL,RESILIENCE,GCSELFEFF,BELONG
0,8,2,1,1,6,.6747,-0.0996,0.2127,-0.6870,0.3693,-0.4609,-0.2133
1,8,2,2,2,2,-.7566,-0.7221,-2.0851,-0.6133,-0.4684,0.7623,-0.0845
2,8,1,5,3,2,-2.5112,-3.6051,0.6364,-0.6133,-1.5248,-0.9477,-0.0824
3,8,2,2,1,2,-3.1843,-7.0376,1.0346,-0.6870,-0.0614,0.3313,-0.0358
4,8,2,2,1,4,-1.7557,-1.8375,-0.6576,0.1097,2.3693,0.6965,0.1704

In [ ]:
df = pd.DataFrame(data)
df = df.replace(r'^\s*$', np.nan, regex=True)
df = df.dropna()
df['ESCS'] = pd.to_numeric(df['ESCS'])
df['ST004D01T'] = pd.to_numeric(df['ST004D01T'])
df['ST216Q03HA'] = pd.to_numeric(df['ST216Q03HA'])
df['IC001Q04TA'] = pd.to_numeric(df['IC001Q04TA'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
df.isna().sum()

CNTRYID       0
ST004D01T     0
ST216Q03HA    0
IC001Q04TA    0
HISCED        0
ESCS          0
WEALTH        0
EMOSUPS       0
GFOFAIL       0
RESILIENCE    0
GCSELFEFF     0
BELONG        0
dtype: int64

In [ ]:
df.corr()

,CNTRYID,ST004D01T,ST216Q03HA,IC001Q04TA,HISCED,ESCS,WEALTH,EMOSUPS,GFOFAIL,RESILIENCE,GCSELFEFF,BELONG
CNTRYID,1.000000,0.002320,0.067518,0.041323,-0.003797,0.022279,0.002772,-0.175899,-0.064012,-0.027531,0.073130,-0.017096
ST004D01T,0.002320,1.000000,0.030845,0.016945,0.017991,0.007019,0.003932,0.026990,0.038817,0.045057,0.024051,0.042945
ST216Q03HA,0.067518,0.030845,1.000000,0.082816,0.041478,0.053251,0.047262,0.189360,0.370708,0.417498,0.892843,0.292741
IC001Q04TA,0.041323,0.016945,0.082816,1.000000,-0.014564,-0.115117,0.036734,0.156225,0.110368,0.173146,0.088250,0.157020
HISCED,-0.003797,0.017991,0.041478,-0.014564,1.000000,0.125544,0.020998,0.023688,0.028872,0.020600,0.045498,0.023178
ESCS,0.022279,0.007019,0.053251,-0.115117,0.125544,1.000000,0.133504,-0.014591,-0.013095,-0.081590,0.072761,-0.054429
WEALTH,0.002772,0.003932,0.047262,0.036734,0.020998,0.133504,1.000000,0.094620,0.146284,0.059480,0.102727,0.131947
EMOSUPS,-0.175899,0.026990,0.189360,0.156225,0.023688,-0.014591,0.094620,1.000000,0.392395,0.347629,0.158299,0.445227
GFOFAIL,-0.064012,0.038817,0.370708,0.110368,0.028872,-0.013095,0.146284,0.392395,1.000000,0.690327,0.396996,0.611406
RESILIENCE,-0.027531,0.045057,0.417498,0.173146,0.020600,-0.081590,0.059480,0.347629,0.690327,1.000000,0.445109,0.587478
GCSELFEFF,0.073130,0.024051,0.892843,0.088250,0.045498,0.072761,0.102727,0.158299,0.396996,0.445109,1.000000,0.330454
BELONG,-0.017096,0.042945,0.292741,0.157020,0.023178,-0.054429,0.131947,0.445227,0.611406,0.587478,0.330454,1.000000

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
  
# the independent variables set
X = df[['GFOFAIL','WEALTH','RESILIENCE','BELONG','HISCED','GCSELFEFF','ESCS','EMOSUPS']]
  
# VIF dataframe
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
  
# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
  
print(vif_data)

In [ ]:
dfDummies = pd.get_dummies(df, drop_first=True)
dfDummies
# plt.figure(figsize=(14,12))
# sns.heatmap(dfDummies.corr(),linewidths=.1,cmap="YlGnBu", annot=True)
# plt.yticks(rotation=0);
# print(dfDummies)

In [ ]:
print('test')