<a href="https://colab.research.google.com/github/LangqingZou/Math-509/blob/master/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [16]:
columns = ['GFOFAIL','WEALTH','RESILIENCE','BELONG','HISCED','ST004D01T','IC001Q04TA','GCSELFEFF','ESCS','EMOSUPS','ST216Q03HA']
data = pd.read_csv('drive/MyDrive/Math_509_Project/CY07_MSU_STU_QQQ.csv',usecols=columns) 
data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (17,229,323,871) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ST004D01T,ST216Q03HA,IC001Q04TA,HISCED,ESCS,WEALTH,EMOSUPS,GFOFAIL,RESILIENCE,GCSELFEFF,BELONG
0,2,1,1,6,.6747,-0.0996,0.2127,-0.6870,0.3693,-0.4609,-0.2133
1,2,2,2,2,-.7566,-0.7221,-2.0851,-0.6133,-0.4684,0.7623,-0.0845
2,1,5,3,2,-2.5112,-3.6051,0.6364,-0.6133,-1.5248,-0.9477,-0.0824
3,2,2,1,2,-3.1843,-7.0376,1.0346,-0.6870,-0.0614,0.3313,-0.0358
4,2,2,1,4,-1.7557,-1.8375,-0.6576,0.1097,2.3693,0.6965,0.1704

In [35]:
data.dtypes

ST004D01T      object
ST216Q03HA     object
IC001Q04TA     object
HISCED          int64
ESCS           object
WEALTH        float64
EMOSUPS       float64
GFOFAIL       float64
RESILIENCE    float64
GCSELFEFF     float64
BELONG        float64
dtype: object

In [67]:
df = pd.DataFrame(data)
df = df.replace(r'^\s*$', np.nan, regex=True)
df = df.dropna() # drop all nan

# df_new = df.copy()
# df_new['HISCED'] = df_new['HISCED'].astype(object)

# change all object type to numeric type to calculate the correlation
df['ESCS'] = pd.to_numeric(df['ESCS'])
df['ST004D01T'] = pd.to_numeric(df['ST004D01T'])
df['ST216Q03HA'] = pd.to_numeric(df['ST216Q03HA'])
df['IC001Q04TA'] = pd.to_numeric(df['IC001Q04TA'])

In [68]:
# dealing with the invalid values of 'HISCED'
# in 'HISCED' any value larger than 3 is invalid
df = df.loc[df['IC001Q04TA']<4]

In [69]:
# delete any rows contains value larger than 90
# since any value larger than 90 is invalid
mask = (df < 90)
df = df[mask].dropna()

In [57]:
## save the dataset we need to a csv file
# df.to_csv("data_subset.csv")

In [55]:
## we save the dataset with 12 variables into a subset
# data1 = pd.read_csv("data_subset.csv")
# data1

,Unnamed: 0,ST004D01T,ST216Q03HA,IC001Q04TA,HISCED,ESCS,WEALTH,EMOSUPS,GFOFAIL,RESILIENCE,GCSELFEFF,BELONG
0,0,2,1,1,6,0.6747,-0.0996,0.2127,-0.6870,0.3693,-0.4609,-0.2133
1,1,2,2,2,2,-0.7566,-0.7221,-2.0851,-0.6133,-0.4684,0.7623,-0.0845
2,2,1,5,3,2,-2.5112,-3.6051,0.6364,-0.6133,-1.5248,-0.9477,-0.0824
3,3,2,2,1,2,-3.1843,-7.0376,1.0346,-0.6870,-0.0614,0.3313,-0.0358
4,4,2,2,1,4,-1.7557,-1.8375,-0.6576,0.1097,2.3693,0.6965,0.1704
...,...,...,...,...,...,...,...,...,...,...,...,...
327751,606583,1,97,1,6,0.2900,0.7740,-0.6576,0.4637,-0.0614,99.0000,-0.3184
327752,606584,1,97,1,5,-0.3287,-0.1200,-2.0819,1.8905,-1.5350,99.0000,-1.8611
327753,606585,2,97,1,4,-2.0076,-1.3099,1.0346,0.4637,-0.5536,99.0000,-1.4766
327754,606586,1,97,1,4,-0.0691,-0.3349,1.0346,1.1422,-0.1433,99.0000,-1.0491
327755,606587,1,97,1,6,-0.1329,-0.1570,0.2127,-1.8939,-0.0614,99.0000,2.7249

In [70]:
# check if deleting all nans
df.isna().sum()

ST004D01T     0
ST216Q03HA    0
IC001Q04TA    0
HISCED        0
ESCS          0
WEALTH        0
EMOSUPS       0
GFOFAIL       0
RESILIENCE    0
GCSELFEFF     0
BELONG        0
dtype: int64

In [71]:
# check the correlation among all variables
df.corr()

,ST004D01T,ST216Q03HA,IC001Q04TA,HISCED,ESCS,WEALTH,EMOSUPS,GFOFAIL,RESILIENCE,GCSELFEFF,BELONG
ST004D01T,1.000000,-0.056285,0.024200,0.021985,0.001477,0.025254,-0.079749,-0.153858,0.023170,0.007950,0.016550
ST216Q03HA,-0.056285,1.000000,0.045295,-0.059479,-0.098718,-0.079684,-0.137393,0.135016,-0.319046,-0.185577,-0.195096
IC001Q04TA,0.024200,0.045295,1.000000,-0.178039,-0.309483,-0.359884,-0.090546,-0.008740,-0.025828,-0.054400,-0.075262
HISCED,0.021985,-0.059479,-0.178039,1.000000,0.783221,0.334470,0.070089,0.000980,0.033242,0.112023,0.043826
ESCS,0.001477,-0.098718,-0.309483,0.783221,1.000000,0.667454,0.136971,0.024646,0.074975,0.179948,0.096773
WEALTH,0.025254,-0.079684,-0.359884,0.334470,0.667454,1.000000,0.115105,0.029425,0.059981,0.100221,0.114580
EMOSUPS,-0.079749,-0.137393,-0.090546,0.070089,0.136971,0.115105,1.000000,-0.025714,0.307471,0.159518,0.259570
GFOFAIL,-0.153858,0.135016,-0.008740,0.000980,0.024646,0.029425,-0.025714,1.000000,-0.125057,-0.001484,-0.178724
RESILIENCE,0.023170,-0.319046,-0.025828,0.033242,0.074975,0.059981,0.307471,-0.125057,1.000000,0.301858,0.313197
GCSELFEFF,0.007950,-0.185577,-0.054400,0.112023,0.179948,0.100221,0.159518,-0.001484,0.301858,1.000000,0.128204
BELONG,0.016550,-0.195096,-0.075262,0.043826,0.096773,0.114580,0.259570,-0.178724,0.313197,0.128204,1.000000

In [72]:
# check for multilinearity among all variables 
from statsmodels.stats.outliers_influence import variance_inflation_factor
  
X = df[columns]
  
# VIF dataframe
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
  
# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
  
print(vif_data)

       feature        VIF
0      GFOFAIL   1.075630
1       WEALTH   2.283620
2   RESILIENCE   1.341328
3       BELONG   1.191673
4       HISCED  14.859314
5    ST004D01T   8.780753
6   IC001Q04TA   7.416169
7    GCSELFEFF   1.145078
8         ESCS   3.571231
9      EMOSUPS   1.166752
10  ST216Q03HA   6.302945

In [73]:
# the vif 'HISCED' is too high
# so this variable is not appropriate using in the regression model

df.drop(['HISCED'], axis=1)

,ST004D01T,ST216Q03HA,IC001Q04TA,ESCS,WEALTH,EMOSUPS,GFOFAIL,RESILIENCE,GCSELFEFF,BELONG
0,2,1.0,1,0.6747,-0.0996,0.2127,-0.6870,0.3693,-0.4609,-0.2133
1,2,2.0,2,-0.7566,-0.7221,-2.0851,-0.6133,-0.4684,0.7623,-0.0845
2,1,5.0,3,-2.5112,-3.6051,0.6364,-0.6133,-1.5248,-0.9477,-0.0824
3,2,2.0,1,-3.1843,-7.0376,1.0346,-0.6870,-0.0614,0.3313,-0.0358
4,2,2.0,1,-1.7557,-1.8375,-0.6576,0.1097,2.3693,0.6965,0.1704
...,...,...,...,...,...,...,...,...,...,...
601764,2,3.0,1,-1.8751,-0.6935,-0.6576,-1.8939,-0.0614,0.1904,-0.1182
601769,2,3.0,1,-3.0210,-2.4741,-0.6576,-1.8939,2.3693,0.1904,-0.9879
601774,2,3.0,2,-1.3621,-0.1630,-1.8624,-1.1597,-1.4033,-0.8238,-0.8735
601785,2,2.0,1,0.1740,-1.3599,1.0346,-0.9598,2.3693,0.1904,-0.6398
601786,1,1.0,1,-1.0585,-1.2544,1.0346,-1.4242,1.6438,1.3434,0.0289

In [75]:
# in order to deal with the categorical variables
# we need to change the types to object

df['ST004D01T'] = df['ST004D01T'].astype(object)
df['ST216Q03HA'] = df['ST216Q03HA'].astype(object)
df['IC001Q04TA'] = df['IC001Q04TA'].astype(object)

In [76]:
dfDummies = pd.get_dummies(df[['ST004D01T', 'ST216Q03HA', 'IC001Q04TA']], drop_first=True)
df = pd.concat([df, dfDummies], axis=1)
df.drop(['ST004D01T', 'ST216Q03HA', 'IC001Q04TA'], axis=1)

,HISCED,ESCS,WEALTH,EMOSUPS,GFOFAIL,RESILIENCE,GCSELFEFF,BELONG,ST004D01T_2,ST216Q03HA_2.0,ST216Q03HA_3.0,ST216Q03HA_4.0,ST216Q03HA_5.0,IC001Q04TA_2,IC001Q04TA_3
0,6.0,0.6747,-0.0996,0.2127,-0.6870,0.3693,-0.4609,-0.2133,1,0,0,0,0,0,0
1,2.0,-0.7566,-0.7221,-2.0851,-0.6133,-0.4684,0.7623,-0.0845,1,1,0,0,0,1,0
2,2.0,-2.5112,-3.6051,0.6364,-0.6133,-1.5248,-0.9477,-0.0824,0,0,0,0,1,0,1
3,2.0,-3.1843,-7.0376,1.0346,-0.6870,-0.0614,0.3313,-0.0358,1,1,0,0,0,0,0
4,4.0,-1.7557,-1.8375,-0.6576,0.1097,2.3693,0.6965,0.1704,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601764,2.0,-1.8751,-0.6935,-0.6576,-1.8939,-0.0614,0.1904,-0.1182,1,0,1,0,0,0,0
601769,4.0,-3.021,-2.4741,-0.6576,-1.8939,2.3693,0.1904,-0.9879,1,0,1,0,0,0,0
601774,2.0,-1.3621,-0.1630,-1.8624,-1.1597,-1.4033,-0.8238,-0.8735,1,0,1,0,0,1,0
601785,6.0,0.174,-1.3599,1.0346,-0.9598,2.3693,0.1904,-0.6398,1,1,0,0,0,0,0
601786,4.0,-1.0585,-1.2544,1.0346,-1.4242,1.6438,1.3434,0.0289,0,0,0,0,0,0,0

In [77]:
# so that's all culumns we got
df.columns

Index(['ST004D01T', 'ST216Q03HA', 'IC001Q04TA', 'HISCED', 'ESCS', 'WEALTH',
       'EMOSUPS', 'GFOFAIL', 'RESILIENCE', 'GCSELFEFF', 'BELONG',
       'ST004D01T_2', 'ST216Q03HA_2.0', 'ST216Q03HA_3.0', 'ST216Q03HA_4.0',
       'ST216Q03HA_5.0', 'IC001Q04TA_2', 'IC001Q04TA_3'],
      dtype='object')

In [78]:
# standarlized the dataset
scaler = StandardScaler()
scaler.fit(df)
df = scaler.transform(df)
df

array([[ 1.02075375, -1.31685782, -0.28108372, ..., -0.1832882 ,
        -0.17755359, -0.22766161],
       [ 1.02075375, -0.36201606,  1.89594425, ..., -0.1832882 ,
         5.63210225, -0.22766161],
       [-0.97966821,  2.50250922,  4.07297223, ...,  5.45588854,
        -0.17755359,  4.39248413],
       ...,
       [ 1.02075375,  0.5928257 ,  1.89594425, ..., -0.1832882 ,
         5.63210225, -0.22766161],
       [ 1.02075375, -0.36201606, -0.28108372, ..., -0.1832882 ,
        -0.17755359, -0.22766161],
       [-0.97966821, -1.31685782, -0.28108372, ..., -0.1832882 ,
        -0.17755359, -0.22766161]])